# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.pem
*.key
*.crt
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env
.env.*
.env*.local

# Firebase configs
android/app/google-services.json
ios/GoogleService-Info.plist
**/firebaseConfig*.js
**/firebaseConfig*.ts

# typescript
*.tsbuildinfo

# example app template
app-example
